App Dependencies:
  type: text
  content: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/application/taher27/new_voting_app
    # make all
    # docker build
deploy:
  type: text
  content: |-
    #/bin/sh
    cd $ROOST_WORK_DIR/git/application/taher27/new_voting_app
    # kubectl apply -f <file>.yaml
    # helm install <helm-folder> -n <ns>
test:
  - name: "1"
    configType: artillery
    configPath: ""
Last Updated By: Ashutosh Kapoor
Last Updated On: 2022-07-14T03:54:06.068Z
