App Dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: >+
    #/bin/sh

    <<'###'

    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"


    helm install <helm-folder> -n <ns> $HELM_OPTS


    kubectl apply -f <file>.yaml

    ###

test:
  - name: ""
    configType: artillery
    configPath: taher27/new_voting_app/
Last Updated By: ""
Last Updated On: 2022-07-15T08:27:09.332Z
