app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build

    # make file
    # npm init --save-dev
app_deploy:
  type: text
  content: |-
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

    ## changes go here
    ## checking git diff
app_test: []
app_uninstall:
  type: text
  content: |-
    #!/bin/sh

    #java
    #goLang
    #reactJS
lastUpdatedBy: Taher Mandapwala
lastUpdatedOn: 2022-08-08T12:09:16.859Z
