CDK_Content: |-
  #!/bin/sh

  cdk deploy
CDK_Repo:
  key: new_voting_app
  title: taher27/new_voting_app
  owner: taher27
  default_branch: ingress
  id: 496876714
CDK_Branch: ingress
CDK_Git_path: ballot/test
CDK_Uninstall: |-
  #!/bin/sh

  cdk destroy
lastUpdatedBy: Taher Mandapwala
lastUpdatedOn: 2022-10-04T05:46:04.495Z
