CDK_Content: |-
  #!/bin/sh

  cdk deploy
CDK_Repo:
  key: new_voting_app
  title: taher27/new_voting_app
  owner: taher27
  default_branch: ingress
  id: 496876714
CDK_Branch: ingress
CDK_Git_path: ballot/test
CDK_Uninstall: |-
  #!/bin/sh

  cdk destroy
build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Taher Mandapwala
lastUpdatedOn: 2022-10-04T07:01:07.328Z
