build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f ecserver/Dockerfile -t ecserver:$GIT_COMMIT_ID ecserver 
    docker tag ecserver:$GIT_COMMIT_ID  ecserver:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###


    kubectl apply -n $ROOST_NAMESPACE -f ballot/ballot.yaml
test:
  - name: ballot
    configType: artillery
    configPath: ballot/ingress.yaml
  - name: ballot
    configType: artillery
    configPath: ballot/ballot.yaml
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Ishan Rai
lastUpdatedOn: 2022-09-13T05:45:09.404Z
